:root {
    /* Fonts */
    --principal: 'Lato', sans-serif;
    --titulo: 'Poppins', sans-serif;

    /* Font sizes */
    --body: 1rem;
    --Small-text: 0.625rem;
    --title: 1.5rem;

    /* Colors */
    --primero: #111729;
    --segundo: #677489;
    --tercero: #f2f5f9;
    --cuarto: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--principal);
}

img{
    max-width: 100%;
}

body {
    background-color: var(--tercero);
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.contenedor {
    background-color: var(--cuarto);
    width: 420px;
    border-radius: 1rem;
    margin-top: 35px;
}

.contenedor .img__cafe{
    border-radius: 1rem;
}

.contenedor .img__onda{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #111729;
}

.Descripcion {
    margin-top: 1rem;
    padding: 0 2rem;
    border-bottom: 1px solid var(--primario);    
    
}

.Descripcion h2 {
    color: var(--Tercero);
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.Descripcion p {
    color: var(--Cuarto);
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.detalles{
    padding: 0 2rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: flex-start;
    place-items: center;
}

.detalles .img__avatar {
    width: 40px;
    border-radius: 50% ;
    border: 3px solid var(--primario);
}

.detalles ul {
    padding: 0 1.2rem;
}

.detalles ul .autor {
    font-size: 1rem;
    font-weight: 200;
}

.detalles ul .leer {
    font-size: 0.8rem;
    color: var(--Cuarto);
    font-weight: 200;
}