:root {
    --primario: #F2F5F9;
    --segundo: #FFFFFF;
    --Tercero: #111729;
    --Cuarto: #677489;

    --fuente_principal:'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

img{
    max-width: 100%;
}

body {
    background-color: var(--primario);
    font-family: var(--fuente_principal);
    display: flex;
    justify-content: center;
    place-items: center;
    min-height: 100vh;
    padding: 5rem 1rem;
}

.contenedor {
    background-color: var(--segundo);
    width: 336px;
    border-radius: 1rem;
}

.contenedor .img__cafe{
    border-radius: 1rem;
}

.contenedor .img__onda{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.Descripcion {
    margin-top: 1rem;
    padding: 0 1rem;
    border-bottom: 1px solid var(--primario);    
    font-family: 'Poppins', sans-serif;
}

.Descripcion h2 {
    color: var(--Tercero);
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.Descripcion p {
    color: var(--Cuarto);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.detalles{
    padding: 0 1rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: flex-start;
    place-items: center;
}

.detalles .img__avatar {
    width: 40px;
    border-radius: 50% ;
    border: 3px solid var(--primario);
}

.detalles ul {
    padding: 0 1rem;
}

.detalles ul .autor {
    font-size: 1rem;
}

.detalles ul .leer {
    font-size: 0.8rem;
    color: var(--Cuarto);
    font-weight: 300;
}